<?xml version="1.0"?>
<launch>
    <!-- Define the path to the world file -->
    <arg name="world_path" default="/home/cle/catkin_ws/src/PX4-Autopilot/Tools/simulation/gazebo-classic/sitl_gazebo-classic/worlds/empty.world"/>

    <!-- Include the MAVROS node with SITL and Gazebo for UAV1 -->
    <group ns="uav1">
        <include file="$(find px4)/launch/mavros_posix_sitl.launch">
            <arg name="world" value="$(arg world_path)" />
            <arg name="fcu_url" value="udp://:14540@localhost:14557" />
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="0"/>
        </include>
        <node pkg="offboard_py" type="offb_node.py" name="offb_node_py" required="true" output="screen">
            <param name="tgt_system" value="1" />
        </node>
    </group>

    <!-- Include the MAVROS node with SITL and Gazebo for UAV2 -->
    <group ns="uav2">
        <include file="$(find px4)/launch/mavros_posix_sitl.launch">
            <arg name="world" value="$(arg world_path)" />
            <arg name="fcu_url" value="udp://:14541@localhost:14558" />
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="ID" value="1"/>
        </include>
        <node pkg="offboard_py" type="offb_node.py" name="offb_node_py" required="true" output="screen">
            <param name="tgt_system" value="2" />
        </node>
    </group>
</launch>
